/* Light sections */
body {
  font-family: Helvetica, sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.8;
  color: #1f2231;
  background-color: #ebebeb;
}

.container {
  padding: 80px 50px;
}

/* Section headers */
h3, h4 {
  margin: 10px 0 30px 0;
  color: #1f2231;
  font-size: 20px;
  letter-spacing: 10px;
  text-transform: uppercase;
}

/* Dark background sections */
.bg1, .bg1 h3 {
  background-color: #1f2231;
  color: #bdbdbd;
}

/* Buttons */
.btn {
  padding: 10px 20px;
  background-color: #1f2231;
  color: #bdbdbd;
  border-radius: 0;
  transition: .1s;
}
  
.btn:hover, .btn:focus {
  background-color: #bdbdbd;
  color: #1f2231;
}

/* Navigation bar */  
.navbar {
  margin-bottom: 0;
  border: 0;
  background-color: #1f2231;
  font-size: 11px !important;
  letter-spacing: 4px;
  opacity: 0.9;
  text-transform: uppercase;
}

.navbar li a, .navbar .navbar-brand { 
  color: #fff !important;
}

.navbar-nav li a:hover { 
  color: #1f2231 !important;
  background-color: #bdbdbd !important;
}

.navbar-default .navbar-toggle {
  border-color: transparent;
}

/* Banner */
.banner {
  background-color: #1f2231;
  position: relative;
  text-align: center;
  width: 100%;
}

.banner img {
  width: 100%;
  opacity: 0.3;
}

.banner-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  letter-spacing: 10px;
  text-transform: uppercase;
  color: #fff;
  text-shadow: 2px 2px 8px #1f2231;
}

.banner-text h1 {
  font-size: 40px;
}

.banner-alt h3 {
  padding-top: 50px;
  font-size: 30px;
  letter-spacing: 8px;
}

/* Project section */
.projects {
  margin-bottom: 50px;
}

.curr-projects, .links {
  margin: 0px 100px;
}

/* Boxes for CV etc*/
.thumbnail {
  padding: 10px;
  border: none;
  border-radius: 0;
  background-color: #ebebeb;
}

.thumbnail p {
  margin-top: 15px;
  color: #1f2231;
}

/* Contact section */
.contact-details {
  margin-top: 20px;
}

.form-control {
  border-radius: 0;
}

textarea {
  resize: none;
}

/* Footer */
footer {
  padding: 32px;
}

footer a {
  color: #bdbdbd;
}

footer a:hover {
  color: #777;
  text-decoration: none;
}